# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
.venv/
ENV/
env/
.env

# IDE
.idea/
*.swp
*.swo
*~
.DS_Store

# Database
#*.db
*.sqlite
*.sqlite3
*.db-journal

# Logs
logs/
*.log

# Tests
.pytest_cache/
.coverage
htmlcov/
.tox/

# Environment variables
.env.local
.env.production

# Temporary files
*.tmp
temp/
tmp/
.mypy_cache/


# IA Files
ROTEIRO.md
TODO.md
AGENT.md
codebase.md
.claude/
.mcp/
.aidigestignore
codebase*
.mcp.json

# Imagens
static/img/usuarios/*
/backups/

# Tema
static/css/bootstrap.min.css

# Documentos
docs/
